.main {
  max-width: $max-width;
  margin: 100px auto;
  padding: 15px;
  
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    overflow: hidden;
    @include cell-phone {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
    }

    &__text, &__image {
      height: 750px;
      overflow: hidden;
      @include cell-phone {
        height: 450px;
      }
    }

    &.one, &.three {
      background: white;
    }

    &__text {
      font-family: $font;
      font-size: 1.5rem;
      line-height: 2.5rem;
      padding: 50px;
      @include cell-phone {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 30px;
      }
    }

    &__text.one, &__text.three {
      color: $font_black;
    }

    &__text.two, &__text.four {
      color: $font_white;
      @include cell-phone {
        grid-row: 1;
      }
    }

    &__img.one {
      background: url("./img/image-1.jpg") no-repeat center center;
      background-size: cover;
    }

    &__img.two {
      background: url("./img/image-2.jpg") no-repeat center center;
      background-size: cover;
    }

    &__img.three {
      background: url("./img/image-3.jpg") no-repeat center center;
      background-size: cover;
    }

    &__img.four {
      background: url("./img/image-4.jpg") no-repeat center center;
      background-size: cover;
    }
  }
}